// table of contents
// 1. variables
// 2. mixins
// 3. body
// 4. app
//      a. list
//      b. counters 
// 5. footer 
// 0. default
* {
    padding: 0;
    margin: 0;
}
// 1. variables
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$blue-100: hsl(236, 21%, 26%);
$blue-200: hsl(235, 16%, 14%);
$blue-300: hsl(234, 17%, 12%);
$font-size: 14px;
// 2. mixins
// 3. body
body {
    background-image: url(../images/bg-stars.svg);
    background-color: $blue-200;
}
// 4. app
h2 {
    text-align: center;
    color: $white;
    margin: 2em;
}
//      a. list
#countdown-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
//      b. counters 
.counter {

}
.time-box {
    height: 15vw;
    width: 15vw;
    border-radius: 4px;
    background-color: $blue-100;
    color: $soft-red;
}
.time-unit {
    color: $grayish-blue;
    font-size: $font-size;
}
// 5. footer 
footer {
    background-image: url(../images/pattern-hills.svg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    img {
        z-index: 2;
        padding: 20px;
    }
}